#displaybar{
	width: 100%;
	height: 50px;
	border: 1px solid black;
	background-color: #efe
}

#calculator {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 200px;
	height: 300px;
}
#controlscontainer {
	position: relative;
	display: grid;
	width: 200px;
	height: 300px;
	grid-template: "a c" fit-content(100%)
								 "b c" 
								 "d c";
	grid-gap: 1px;
	border: 1px solid black;
	background-color: black;
}
#topbuttonrow {
	grid-area: a;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0px;
}


#zerobar{
	grid-area: d;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
}
#zerobutton{
	width: 50%;
	height: 90%;
	margin-left: 5px;
	margin-bottom: 5px;
}
#dotbutton{
	width: 100%;
	height: 90%;
	margin-left: -20px;
	margin-bottom: 5px;
}

.buttontext {
	text-align: center;
	text-justify: center;
	margin: 0px;
}

#buttongrid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: auto auto auto;
	grid-area: b;
	margin: 5px;
}

#operators {
	grid-column: 2;
	display: grid;
	grid-gap: 10px;
	grid-area: c;
}
.control{
	display: grid;
	margin: auto;
	width: 90%;
	height: 90%;
	color: black;
	background-color: #aaa;
	border: 1px solid #aaa;
	border-radius: 5px;
}
.topcontrol{
	margin: auto;
	width: 90%;
	height: 90%;
	color: black;
	background-color: #aaa;
	border: 1px solid #aaa;
	border-radius: 5px;

}
.calculatorbutton {
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 70%;
	background-color: #444;
	color: white;
}
